# https://github.com/deoren/config-files

"*":
  core:
    customFileTypes:
      "source.shell": [
        "conf"
        "cfg"
      ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "city-lights-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 10
    tabLength: 4
    tabType: "soft"
  github:
    automaticCommitMessageWrapping: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
